body {	color:#fff;	font:300 15px/15px Roboto,Arial,Helvetica;background:url(../images/bg.jpg) right no-repeat fixed #fff;background-size: cover; -webkit-font-smoothing:antialiased;}

p,h1,h2,h3,h4,h5,h6 {text-decoration:rtl;}
a{color:#e0e0e0; text-decoration:rtl;}
a:hover{color:#666;}
a:visited {color:#e0e0e0; text-decoration:rtl;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h2{font:300 2.5em Josefin Sans,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

/*NavigationBar*/
menu {width: 100%;padding: 0px; position: fixed; z-index: 1;}
menu ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }
menu ul li {float: left;}
menu ul li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: rtl;}
menu ul li a:hover {background-color: #111;}
/*menu ul li .active{background-color: #fff;}*/
/*End NavigationBar*/

/*home page*/
.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    }
.coming-soon input{
  margin-top: 50px;
}
.coming-soon h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
    padding-top: 100px;
}

.coming-soon p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}
.coming-soon li a{
font-size: 25px;
line-height: 90px;
text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.coming-soon li {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 20px auto 10px auto;
    padding-top: 20px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45, 45, 45, 0.7);
    font-size: 18px;
    line-height: 22px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.coming-soon li:hover {
    background: #e75967;
    text-shadow: none;
     transition:2s;
}
/***********End home page***********/
.spacer{padding: 6em 0;}

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: rgba(0,0,0,0.8);}
.btn-primary{color: #fff;background:#666;width: 100%;outline: none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#333;box-shadow: none;}



#head,.carousel{margin-top: 0;}
/*foods*/
#works figcaption h2 {text-shadow: 4px 4px 4px #000000;}
#works figcaption p{line-height: 3em;}
/*#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 1em 2em; }
#works figcaption a:hover{text-decoration:rtl; padding: 0 3em;}*/
#works figcaption input{color: black; width: 55px; height: 15px;}

.effect-oscar img{width: 1234px; height: 350px;}
/*foods*/

/*=======================================
    PRICE SECTION STYLES
==================================================*/
#price-sec {
    padding-top: 80px;
     padding-bottom: 80px;
}
#text {clear: both;}
#text h2{
text-align: center;
padding-top: 5% ;
direction: rtl;
}
.col-md-3{direction: rtl;}
.plan {
    background: #eef1f3;
    padding: 0 0 15px 0;
    margin: 10% auto 30% auto;
    list-style: none;
    text-align: center;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.plan:hover {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

.plan li {
    padding: 15px 0px;
    color: #434749;
    border-top: 1px dashed #000;
}

.plan li.plan-head {
   padding: 15px 0px;
background-color: #0d77b6;
color: #FFFFFF;
line-height: 20px;
font-size: 20px;
font-weight: 600;
border: none;
   }

.plan li.main-price {
   padding: 25px 0px;
background-color:rgba(21, 180, 255, 1);
color: #fff;
border: none;
font-weight: 900;
font-size: 30px;
}

.c-b {
    background-color:#B60D43!important;
}
.c-v {
    background-color: #01AA30!important;
}
.c-a {
    background-color: #818181!important;
}
.bottom a{
  color: #fff;
}
/*End salad*/


/*
.gototop{position: fixed;bottom: 20px; right: 20px;background: rgba(0,0,0,0.5);padding: 10px;color: #fff;}
.gototop i{line-height: 0.5em;}*/


@media (max-width: 1200px) {
	body{font:300 13px/13px Roboto,Arial,Helvetica;}

	.grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

}

@media (max-width: 900px) {
	h1{font: 700 3.5em Roboto,Arial,Helvetica;}
	h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
	.btn{padding: 1em 2em;}
	figure.effect-chico figcaption {padding: 2em;}
	figure.effect-oscar figcaption {padding: 20%;}
	figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
	.grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}
  .coming-soon h2,p{font-size:2em;}
  .coming-soon li a{font-size: 12px;}
  .coming-soon li {font-size: 12px;width: 130px; height: 130px; margin: 20px auto 10px auto;}
.col-md-3{width: 50%; margin: auto;}
.effect-oscar img{height: 200px;}
}


@media (max-width: 767px) {
	body{font:300 12px/12px Roboto,Arial,Helvetica;}

	.banner .caption,.carousel-caption,.carousel-control,.carousel-indicators{display: none;}

	h2.text-center{text-align: left;font-size: 1.7em;}
	h4 {font: 300 1.2em Roboto,Arial,Helvetica;}


	.spacer{padding:2em 0 ;}
	.grid.team div{margin: 0;padding: 0;}
	figure.effect-chico figcaption {padding: 1.5em;}
	.footer{padding-bottom: 2em;}
}
